.puzzle, .locked, .icon-big, .levels-label{
  font-size: 60px;
  color: white;
  padding: 40px 0;
}
p.levels-label {
  margin: 0;
  font-size: 40px;
}
h1 .puzzle {
  color: #1cc88a;
  padding: 0;
}

.row {
  margin-bottom: 10px;
}
.card {
  margin-bottom: 10px !important;
}
p {
  font-size: 18px;
  font-weight: 700;
}
a, a:hover {
  text-decoration: none;
}

h3 {
  margin-top: 20px;
  font-weight: 600;
}
h2 {
  font-weight: 900;
  margin-top: 40px;
  span {
    background-color: #4e73df;
    padding: 5px 15px;
    color: white;
  }
}
.container-fluid {
  margin: 100px 0;
}
.header {
  margin-bottom: 40px !important;
}
.button {
  margin-top: 20px;
}
