.block-card {
  i {
    font-size: 40px;
    color: white;
    padding: 30px 0;
  }
}

#wrapper {
  height: 100vh;
}

.bg-green1 {
  color: #fff;
  background-color: #6DB75C;
  border-color: #6DB75C;
}

.bg-green1:hover {
  color: #fff;
  background-color: #6DB75C;
  border-color: #6DB75C;
}

.text-green1 {
  color: #6DB75C;
}

.text-green1:hover {
  color: #6DB75C;

}

.btn-green1 {
  color: #fff;
  background-color: #6DB75C;
  border-color: #6DB75C;
}

.btn-green1:hover {
  color: #fff;
  background-color: #6DB75C;
  border-color: #6DB75C;
}

.btn-green1.focus,
.btn-green1:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-green1.disabled,
.btn-green1:disabled {
  color: #fff;
  background-color: #6CBFA2;
  border-color: #6CBFA2;
}

.btn-green1:not(:disabled):not(.disabled).active,
.btn-green1:not(:disabled):not(.disabled):active,
.show > .btn-green1.dropdown-toggle {
  color: #fff;
  background-color: #6CBFA2;
  border-color: #6CBFA2;
}

.btn-green1:not(:disabled):not(.disabled).active:focus,
.btn-green1:not(:disabled):not(.disabled):active:focus,
.show > .btn-green1.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: auto;


}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #858796;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}